@import 'variables';

.button {
    display: flex;
    justify-content: center;

    width: 100%;

    align-items: center;
    border-radius: 10px;

    padding: 10px 40px;

    text-decoration: none;

    filter: brightness(1);
    transition: all 400ms;

    &:hover {
        filter: brightness(1.2);
    }
}

.buttonCircle {
    display: flex;
    justify-content: center;

    width: 40px;
    height: 40px;

    align-items: center;
    border-radius: 50%;

    text-decoration: none;

    filter: brightness(1);
    transition: all 400ms;

    &:hover {
        filter: brightness(1.2);
    }
}

.buttonPrimary {
    background-color: $primary;
    color: $white;
    box-shadow: 0 0 25px $alpha-primary;
}